@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="\Images\elev8_teams_bg_generic_gqI_icon.ico" />
    <h1 class="display-4">Welcome to Elev8</h1>

   <p>@ViewBag.Message</p>
    <p>@ViewBag.ServerTime</p>
    <p>@ViewBag.Eloka</p>
   <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
